html {
	background: url('img/background.jpg');
	background-size: cover;
	height: 100%;
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
}

body{
	font-family: 'Slabo 27px', serif;
}

h1 {
	text-align: center;
	font-size: 36pt;
	font-color: #FEF5E7;
}

.item {
	border-style: solid;
	border-color: white;
	border-thickness: 3pt;
	clear: both;
	display: block;
	box-shadow: 0px 0px 10px black;
	width: 75%;
	position: center;
	margin-left: 12.5%;
	margin-top: 2%;
	background-color: white;
	font-color: black;
}

.question{
	margin: 10px;
	border-style: solid;
	border-color: white;
	clear: both;
	font-size: 24pt;
	font-style: bold;
	background-color: #D6EAF8;
	padding-left: 20px;
}

.row{
	border-style: solid;
	border-color: white;
	display: block;
	clear: both;
	overflow: auto;
	height: 400px;
}

.option{
	border-style: solid;
	border-color: white;
	border-radius: 20px;
	width: 30%;
	float: left;
	display: block;
	margin: 10px;
	object-fit: cover;	
	height: 300px;
	text-align: center;
}

	#red {
	background-color: red;
	height: 90%;
	}

	#black {
	background-color: black;
	height: 90%;
	}
	
	#green {
	background-color: #709564;
	height: 90%;
	}
	
	#pink {
	background-color: #ffc9c9;
	height: 90%;
	}
	
	#yellow {
	background-color: #bf9000;
	height: 90%;
	}
	
	#blue {
	background-color: #10c4ff;
	height: 90%;
	}

.row_option{
	border-style: solid;
	border-color: white;
	border-radius: 20px;
	float: left;
	clear: both;
	display: block;
	margin: 10px;
	width: 95%;
	padding-left: 10px;
}

.imgtext{
	font-size: 18pt;
	padding-left: 10px;
}

.option:hover, .row_option:hover  {
	/*-color: yellow !important*/;
	border-style: solid;
	border-color: none;
	box-shadow: 0px 0px 10px grey;
	margin: 10px;
}

.clicked {
	box-shadow: 0px 0px 20px #154360;	
}

img {
    width: 100%;
    padding-top: 10px;
	height: 90%;
	object-fit: cover;
	border-radius: 20px;
}

input {
	clear: both;
	margin-left: 50%;
	display: none;
}

#left {
	margin-left: 0;
	float: left;
}

#row_words {
	height: 710px;
}